<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <section class="cointainer">
        <nav class="container1">
            <div class="flipkart_right">
                <h2 class="flipkart">flipkart</h2>
                <p><span class="explore">Explore</span><span class="plus">Plus</span></p>

            </div>
            <div class="flipkart_midle">
                <img src="../static/images/magnifier-removebg-preview.png" alt="">
                <input type="text" placeholder="Search for products,brands and more">

            </div>
            <div class="flipkart_left">
                <div class="login">
                    <h4>Login</h4>
                </div>
                <div class="seller">
                    <h4>Become a Seller</h4>
                    <h4>More</h4>
                    <h4>Cart</h4>
                </div>
            </div>
        </nav>
        <div class="second_part">

            <select id="a1">
                <option value="a1">
                    <h2>Electronics</h2>
                </option>
                <option value="a1">Mobiles</option>
                <option value="a1">Mobile Accessories</option>
                <option value="a1">Laptops</option>
                <option value="a1">Televisions</option>
                <option value="a1">Featured</option>
            </select>
            <select id="a1">
                <option value="a1">Tvs & Appliances</option>
                <option value="a1">Televisions</option>
                <option value="a1">washing Machine</option>
                <option value="a1">Kitchen Appliacnes</option>
                <option value="a1">Small Home Appliances</option>
                <option value="a1">Buying Guides</option>

            </select>
            <select id="a1">
                <option value="a1">Men</option>
                <option value="a1">FootWear</option>
                <option value="a1">Clothing</option>
                <option value="a1">Winter Wear</option>
                <option value="a1">Watches</option>
                <option value="a1">smart Watches</option>

            </select>
            <select id="a1">
                <option value="a1">Women</option>
                <option value="a1">clothing</option>
                <option value="a1">Ethnic Wear</option>
                <option value="a1">Foot Wear</option>
                <option value="a1">Beauty & Grooming</option>
                <option value="a1">Featured</option>

            </select>
            <select id="a1">
                <option value="a1">Baby & Kids</option>
                <option value="a1">kid's clothing</option>
                <option value="a1">Kids's footwear</option>
                <option value="a1">Toys</option>
                <option value="a1">Baby Care</option>
                <option value="a1">Featured Brands</option>

            </select>
            <select id="a1">
                <option value="a1">Home & furniture</option>
                <option value="a1">kitchen ,cookware & serveware</option>
                <option value="a1">Furnishing</option>
                <option value="a1">Home Decor</option>
                <option value="a1">Durability certified furniture</option>
                <option value="a1"></option>

            </select>
            <select id="a1">
                <option value="a1">sports,Books & More</option>
                <option value="a1">sports</option>
                <option value="a1">Food Essentials</option>
                <option value="a1">Books</option>
                <option value="a1">Auto Accessories</option>
                <option value="a1">Music</option>

            </select>
            <div>
                <p>Flights</p>
            </div>
            <div>
                <p>Offer zone</p>
            </div>

        </div>
        <section class="whole">
            <div class="filter">
                <h3>Filters</h3>
                <hr>
                <p>CATEGORIES</p>
                <P>
                    < Home Entertainment</P>
                        <div class="televisions">
                            <h4>Televisons</h4>
                        </div>
                        <hr>
                        <p>Price</p>

                        <div class="select_name">
                            <select name="Mini" id="Min">
                                <option value="volvo">Min</option>
                                <option value="volvo">15000</option>
                                <option value="saab">30000</option>
                                <option value="opel">35000</option>
                                <option value="audi">40000</option>
                            </select>
                            <div class="to">
                                <p>to</p>
                            </div>
                            <div class="select_name1">
                                <select name="Mini" id="Min">
                                    <option value="volvo">60000</option>
                                    <option value="volvo">15000</option>
                                    <option value="saab">30000</option>
                                    <option value="opel">35000</option>
                                    <option value="audi">40000</option>
                                    <option value="audi">50000</option>
                                    <option value="audi">60000</option>
                                </select>
                            </div>
                        </div>
                        <div class="assured1">
                            <img src="../static/images/fassured.png" alt="">

                        </div>
                        <hr>
                        <h4>BRAND</h4>
                        <div class="search">
                            <img src="../static/images/magnifier-removebg-preview.png" alt="">
                            <p>Serch Brand</p>
                        </div>
                        <hr>
                        <ul style="list-style-type:square">
                            <li>SAMSUNG</li>
                            <li>SONY</li>
                            <li>LG</li>
                            <li>REALME</li>
                            <li>QUANTUM</li>
                            <LI>TCL</LI>
                        </ul>
                        <P>79 More</P>
                        <hr>
                        <p>SCREEN SIZE</p>
                        <hr>
                        <p>IDEAL FOR VIEWING DISTANCE</p>
                        <hr>
                        <p>RESOLUTION</p>
                        <hr>
                        <p>SCREEN TYPE</p>
                        <hr>
                        <P>SMART TV</P>
                        <ul style="list-style-type:square">
                            <li>SMART TV</li>
                            <li>YES</li>
                            
                        </ul>
                        <HR>
                        <p>OPERATING SYSTEM</p>
                        <hr>
                        <p>OPERATING SYSTEM</p>
                        <hr>
                        <p>NUMBER OF HDMI PORTS</p>
                        <hr>
                        <p>NUMBER OF USB PORTS</p>
                        <hr>
                        <p>CUSTOMER RATINGS</p>
                        <ul style="list-style-type:square">
                            <li>4 * Above</li>
                            <li>3 * Above</li>
                            <li>2 * Above</li>
                            <li>1 * Above</li>
                            </ul>
                            <hr>
                            <p>OFFERS</p>
                            <ul style="list-style-type:square">
                                <li>NO COST EMI</li>
                                <li>SPECIAL PRICE</li>
                                <li>BUY MORE,SAVE MORE</li>
                            </ul>
                            <HR>
                                <P>GST INVOICE AVAILABLE</P>
                                <ul style="list-style-type:square">
                                    <li>GST Invoice Available</li>
                        
                                    </ul>
                                    <hr>
                                    <p>DISCOUNT</p>
                                    <ul style="list-style-type:square">
                                        <li>30% or more</li>
                                        <li>20% or more</li>
                                        <li>10% or more</li>
                                        <li>10% or below</li>
                                        <p>AVAILABILTY</p>
                                        <HR>
                                        <P>THEME</P>
                            
                                        </ul>
    


         </div>
            <div class="Wholesale">
                <div class="home">
                    <div class="Entertain">
                        <p>Home > Home Entertainment > Televisions</p>
                    </div>
                    <div class="tele">
                        <p>Hisense Televisions,iFFALCON by TCL Televisions,T_series Televisions,
                            Home Entertainment,OnePlus Televisions,Onida Televisions,acer Televisons,
                            MarQ by flipkart Televisions,compaq Televisions>
                    </div>
                    </p>
                    <h2>43 Inch 4k TVs Big Billion Days (showing 1-24 products of 25 products)</h2>
                    </p>
                    <div class="sort">
                        <h4>Sort by</h4>
                        <h4> popularity</h4>
                        <h4> price - Low to High</h4>
                        <h4> price - High to Low </h4>
                        <h4> Newest First Discount</h4>
                    </div>
                </div>
                <hr>

                <div class="popularity">
                    <div class="popularity1">
                        <img src="../static/images/xiomi1.webp" alt="">
                    </div>
                    <div class="popularity_words">
                        <p>Sponsored</p>
                        <h3>Mi X Series 108 cm (43 inch) Ultra HD (4k) LED Smart Google
                            TV 2023<br>
                            Edition with 4k Dolby Vision | HDR......
                        </h3>

                        <p><span class="ratings"> 4.3 </span> <span>1,06,757 Ratings & 10,276 Reviews</span></p>
                        <div class="os">
                            <p>Operating System: Google Tv</p>
                            <p>Ultra HD (4K) 3840</p>
                            <p>Screen Resoultion Type:Full HD</p>
                            <p>Response Time:5mns | Refresh Rate: 75HZ</p>
                            <p>HDMI Ports-1</p>
                            <p>3 years Warranty on product from manufacture</p>
                        </div>
                    </div>
                    <div class="amount">
                        <h2>8,199</h2>
                        <span class="amt">16,200</span><span class="amt1">57% off</span>
                        <p>Free Delivery</p>
                        <p>Hot Deal</p>
                        <p>Upto 220 Off on Exchange</p>
                        <h3> <span class="bank">Bank Offer</span></h3>
                    </div>
                    <div class="assured">
                        <img src="../static/images/fassured.png" alt="">

                    </div>
                </div>
                <div class="compare">
                    <ul style="list-style-type:square">

                        <li>Add to Compare</li>
                    </ul>
                </div>
                <hr>
                <div class="marq">
                    <div class="marq1">
                        <img src="../static/images/xiomi2.webp" alt="">
                    </div>
                    <div class="marq_words">
                        <p>Sponsored</p>
                        <h3> Mi A series 100 cm (40 inch) Full HD (4k) LED Smart Google TV 2023<br>
                            Edition with FHD | Dolby Audio | DTS : HD | DTS Virtual : X |<br>
                            Vivid Picture Engine #JustHere</h3>

                        <p><span class="ratings"> 4.3 </span> <span>1,06,757 Ratings & 10,276 Reviews</span></p>
                        <div class="os">
                            <p>Operating System: Google Tv</p>
                            <p>Ultra HD (4K) 3840</p>
                            <p>Screen Resoultion Type:Full HD</p>
                            <p>Response Time:5mns | Refresh Rate: 75HZ</p>
                            <p>HDMI Ports-1</p>
                            <p>3 years Warranty on product from manufacture</p>
                        </div>
                    </div>
                    <div class="amount">
                        <h2>18,000</h2>
                        <span class="amt">28,000</span><span class="amt1">57% off</span>
                        <p>Free Delivery</p>
                        <p>Hot Deal</p>
                        <p>Upto 220 Off on Exchange</p>
                        <h3> <span class="bank">Bank Offer</span></h3>

                    </div>
                    <div class="assured">
                        <img src="../static/images/fassured.png" alt="">

                    </div>



                </div>
                <div class="compare">Add to Compare</div>

                <hr>
                <div class="realme">
                    <div class="realme1">
                        <img src="../static/images/realme.webp" alt="">
                    </div>
                    <div class="realme_words">
                        <p>Sponsored</p>
                        <h3>Mi X Series 108 cm (43 inch) Ultra HD (4k) LED Smart Google
                            TV 2023<br>
                            Edition with 4k Dolby Vision | HDR......
                        </h3>

                        <p><span class="ratings"> 4.4 </span> <span>1,06,757 Ratings & 10,276 Reviews</span></p>
                        <div class="os">
                            <p>Operating System: Google Tv</p>
                            <p>Ultra HD (4K) 3840</p>
                            <p>Screen Resoultion Type:Full HD</p>
                            <p>Response Time:5mns | Refresh Rate: 75HZ</p>
                            <p>HDMI Ports-1</p>
                            <p>2 years Warranty on product from manufacture</p>
                        </div>
                    </div>
                    <div class="amount">
                        <h2>21,000</h2>
                        <span class="amt">28,000</span><span class="amt1">57% off</span>
                        <p>Free Delivery</p>
                        <p>Hot Deal</p>
                        <p>Upto 220 Off on Exchange</p>
                        <h3> <span class="bank">Bank Offer</span></h3>
                    </div>
                    <div class="assured">
                        <img src="../static/images/fassured.png" alt="">

                    </div>

                </div>

                <div class="compare">Add to Compare</div>
                <hr>
                <div class="sony">
                    <div class="sony1">
                        <img src="../static/images/sony.webp" alt="">
                    </div>
                    <div class="sony_words">
                        <p>Sponsored</p>
                        <h3>Mi X Series 108 cm (43 inch) Ultra HD (4k) LED Smart Google
                            TV 2023<br>
                            Edition with 4k Dolby Vision | HDR......
                        </h3>

                        <p><span class="ratings"> 4.3 </span> <span>1,06,757 Ratings & 10,276 Reviews</span></p>
                        <div class="os">
                            <p>Operating System: Google Tv</p>
                            <p>Ultra HD (4K) 3840</p>
                            <p>Screen Resoultion Type:Full HD</p>
                            <p>Response Time:5mns | Refresh Rate: 75HZ</p>
                            <p>HDMI Ports-1</p>
                            <p>3 years Warranty on product from manufacture</p>
                        </div>
                    </div>
                    <div class="amount">
                        <h2>40,000</h2>
                        <span class="amt">45,000</span><span class="amt1">57% off</span>
                        <p>Free Delivery</p>
                        <p>Hot Deal</p>
                        <p>Upto 220 Off on Exchange</p>
                        <h3> <span class="bank">Bank Offer</span></h3>
                    </div>
                    <div class="assured">
                        <img src="../static/images/fassured.png" alt="">

                    </div>
                </div>
                <div class="compare">Add to Compare</div>
                <hr>
                <div class="tcl">
                    <div class="tcl1">
                        <img src="../static/images/tcl.webp" alt="">
                    </div>
                    <div class="tcl_words">
                        <p>Sponsored</p>
                        <h3>Mi X Series 108 cm (43 inch) Ultra HD (4k) LED Smart Google
                            TV 2023<br>
                            Edition with 4k Dolby Vision | HDR......
                        </h3>
                        <p><span class="ratings"> 4.5 </span> <span>1,06,757 Ratings & 10,276 Reviews</span></p>
                        <div class="os">
                            <p>Operating System: Google Tv</p>
                            <p>Ultra HD (4K) 3840</p>
                            <p>Screen Resoultion Type:Full HD</p>
                            <p>Response Time:5mns | Refresh Rate: 75HZ</p>
                            <p>HDMI Ports-1</p>
                            <p>1 years Warranty on product from manufacture</p>
                        </div>
                    </div>
                    <div class="amount">
                        <h2>17,00</h2>
                        <span class="amt">28,000</span><span class="amt1">57% off</span>
                        <p>Free Delivery</p>
                        <p>Hot Deal</p>
                        <p>Upto 220 Off on Exchange</p>
                        <h3> <span class="bank">Bank Offer</span></h3>
                    </div>
                    <!-- </div> -->
                    <div class="assured">
                        <img src="../static/images/fassured.png" alt="">
                    </div>
                </div>

                <div class="compare">Add to Compare</div>
                <hr>
                <div class="falconn">
                    <div class="falconn1">
                        <img src="../static/images/falconn.webp" alt="">
                    </div>
                    <div class="falconn_words">
                        <p>Sponsored</p>
                        <h3>Mi X Series 108 cm (43 inch) Ultra HD (4k) LED Smart Google
                            TV 2023<br>
                            Edition with 4k Dolby Vision | HDR......
                        </h3>
                        <p><span class="ratings"> 4.3 </span> <span>1,06,757 Ratings & 10,276 Reviews</span></p>
                        <div class="os">
                            <p>Operating System: Google Tv</p>
                            <p>Ultra HD (4K) 3840</p>
                            <p>Screen Resoultion Type:Full HD</p>
                            <p>Response Time:5mns | Refresh Rate: 75HZ</p>
                            <p>HDMI Ports-1</p>
                            <p>3 years Warranty on product from manufacture</p>
                        </div>

                    </div>
                    <div class="amount">
                        <h2>31,000</h2>
                        <span class="amt">38,000</span><span class="amt1">57% off</span>
                        <p>Free Delivery</p>
                        <p>Hot Deal</p>
                        <p>Upto 220 Off on Exchange</p>
                        <h3> <span class="bank">Bank Offer</span></h3>
                    </div>
                    <div class="assured">
                        <img src="../static/images/fassured.png" alt="">

                    </div>
                </div>
                <div class="compare">Add to Compare</div>
                <hr>
                <div class="quantum">
                    <div class="quantum1">
                        <img src="../static/images/quantum.webp" alt="">
                    </div>
                    <div class="quantum_words">
                        <p>Sponsored</p>
                        <h3>Mi X Series 108 cm (43 inch) Ultra HD (4k) LED Smart Google
                            TV 2023<br>
                            Edition with 4k Dolby Vision | HDR......
                        </h3>
                        <p><span class="ratings"> 4.1 </span> <span>1,06,757 Ratings & 10,276 Reviews</span></p>
                        <div class="os">
                            <p>Operating System: Google Tv</p>
                            <p>Ultra HD (4K) 3840</p>
                            <p>Screen Resoultion Type:Full HD</p>
                            <p>Response Time:5mns | Refresh Rate: 75HZ</p>
                            <p>HDMI Ports-1</p>
                            <p>4 years Warranty on product from manufacture</p>
                        </div>

                    </div>
                    <div class="amount">
                        <h2>21,000</h2>
                        <span class="amt">28,000</span><span class="amt1">57% off</span>
                        <p>Free Delivery</p>
                        <p>Hot Deal</p>
                        <p>Upto 220 Off on Exchange</p>
                        <h3> <span class="bank">Bank Offer</span></h3>
                    </div>
                    <div class="assured">
                        <img src="../static/images/fassured.png" alt="">

                    </div>
                </div>
                <div class="compare">Add to Compare</div>
                <hr>
                <div class="thomson">
                    <div class="thomson1">
                        <img src="../static/images/thomson.webp" alt="">
                    </div>
                    <div class="thomson_words">
                        <p>Sponsored</p>
                        <h3>Mi X Series 108 cm (43 inch) Ultra HD (4k) LED Smart Google
                            TV 2023<br>
                            Edition with 4k Dolby Vision | HDR......
                        </h3>
                        <p><span class="ratings"> 4.1 </span> <span>1,06,757 Ratings & 10,276 Reviews</span></p>
                        <div class="os">
                            <p>Operating System: Google Tv</p>
                            <p>Ultra HD (4K) 3840</p>
                            <p>Screen Resoultion Type:Full HD</p>
                            <p>Response Time:5mns | Refresh Rate: 75HZ</p>
                            <p>HDMI Ports-1</p>
                            <p>2 years Warranty on product from manufacture</p>
                        </div>

                    </div>
                    <div class="amount">
                        <h2>11,000</h2>
                        <span class="amt">31,000</span><span class="amt1">57% off</span>
                        <p>Free Delivery</p>
                        <p>Hot Deal</p>
                        <p>Upto 220 Off on Exchange</p>
                        <h3> <span class="bank">Bank Offer</span></h3>
                    </div>

                    <div class="assured">
                        <img src="../static/images/fassured.png" alt="">

                    </div>
                </div>
                <div class="compare">Add to Compare</div>
                <hr>
                <div class="infinix">
                    <div class="infinix1">
                        <img src="../static/images/infinix1.webp" alt="">
                    </div>
                    <div class="infinix_words">
                        <p>Sponsored</p>
                        <h3>Mi X Series 108 cm (43 inch) Ultra HD (4k) LED Smart Google
                            TV 2023<br>
                            Edition with 4k Dolby Vision | HDR......
                        </h3>
                        <p><span class="ratings"> 4.1 </span> <span>1,06,757 Ratings & 10,276 Reviews</span></p>
                        <div class="os">
                            <p>Operating System: Google Tv</p>
                            <p>Ultra HD (4K) 3840</p>
                            <p>Screen Resoultion Type:Full HD</p>
                            <p>Response Time:5mns | Refresh Rate: 75HZ</p>
                            <p>HDMI Ports-1</p>
                            <p>1.5 years Warranty on product from manufacture</p>
                        </div>

                    </div>
                    <div class="amount">
                        <h2>35,000</h2>
                        <span class="amt">48,000</span><span class="amt1">57% off</span>
                        <p>Free Delivery</p>
                        <p>Hot Deal</p>
                        <p>Upto 220 Off on Exchange</p>
                        <h3> <span class="bank">Bank Offer</span></h3>
                    </div>

                    <div class="assured">
                        <img src="../static/images/fassured.png" alt="">

                    </div>
                </div>
                <div class="compare">Add to Compare</div>
                <hr>

                <div class="oneplus">
                    <div class="oneplus">
                        <img src="../static/images/oneplus.webp" alt="">
                    </div>
                    <div class="oneplus_words">
                        <p>Sponsored</p>
                        <h3>Mi X Series 108 cm (43 inch) Ultra HD (4k) LED Smart Google
                            TV 2023<br>
                            Edition with 4k Dolby Vision | HDR......
                        </h3>
                        <p><span class="ratings"> 3.8 </span> <span>1,06,757 Ratings & 10,276 Reviews</span></p>
                        <div class="os">
                            <p>Operating System: Google Tv</p>
                            <p>Ultra HD (4K) 3840</p>
                            <p>Screen Resoultion Type:Full HD</p>
                            <p>Response Time:5mns | Refresh Rate: 75HZ</p>
                            <p>HDMI Ports-1</p>
                            <p>2 years Warranty on product from manufacture</p>
                        </div>

                    </div>
                    <div class="amount">
                        <h2>25,000</h2>
                        <span class="amt">45,000</span><span class="amt1">17% off</span>
                        <p>Free Delivery</p>
                        <p>Hot Deal</p>
                        <p>Upto 220 Off on Exchange</p>
                        <h3> <span class="bank">Bank Offer</span></h3>
                    </div>
                    <div class="assured">
                        <img src="../static/images/fassured.png" alt="">

                    </div>
                </div>
                <div class="compare">Add to Compare</div>
                <hr>
            </div>
        </section>
        </div>


        <div class="under_score">
            <div class="under">
                <div class="about">
                    <H3>ABOUT</H3>
                    <P>Contact Us<br>
                        About Us<br>
                        Careers<br>
                        Flipkart Stories<br>
                        Press<br>
                        Flipkart Wholesale<br>
                        Cleartrip<br>
                        Corporate Information<br></p>
                </div>
                <div class="help">
                    <h3>HELP</h3>
                    <p>Payments<br>
                        Shipping<br>
                        Cancellation & Returns<br>
                        FAQ<br>
                        Report Infringement</p>

                </div>
                <div class="CONSUMER">
                    <h3>CONSUMER POLICY</h3>
                    <p>Cancellation & Returns<br>
                        Terms Of Use<br>
                        Security<br>
                        Privacy<br>
                        Sitemap<br>
                        Grievance Redressal<br>
                        EPR Compliance</p>

                </div>
                <div class="social">
                    <h3>SOCIAL</h3>
                    <p>Facebook<br>
                        Twitter<br>
                        YouTube</p>
                </div>
                <div class="mail">
                    <h3> Mail Us:</h3>
                    <p> Flipkart Internet Private Limited,<br>
                        Buildings Alyssa, Begonia &<br>
                        Clove Embassy Tech Village,<br>
                        Outer Ring Road, Devarabeesanahalli Village,<br>
                        Bengaluru, 560103,<br>
                        Karnataka, India</p>
                </div>
                <div class="registered">
                    <h3> Registered Office Address:</h3>
                    <p> Flipkart Internet Private Limited,<br>
                        Buildings Alyssa, Begonia &<br>
                        Clove Embassy Tech Village,<br>
                        Outer Ring Road, Devarabeesanahalli Village,<br>
                        Bengaluru, 560103,<br>
                        Karnataka, India<br>
                        CIN : U51109KA2012PTC066107<br>
                        Telephone: 044-4561470<br>
                        Become a Seller</p>
                </div>

            </div>
            <hr>
            <div class="under1">
                <div class="become">
                    <p>Become a Seller
                    <p>
                </div>
                <div class="Advertise">Advertise</div>
                <div class="gift">Gift Cards</div>
                <div class="center">Help Center</div>
                <div class="2007">2007-2023 Flipkart.com</p>
                </div>
            </div>
        </div>
        </div>








    </section>
</body>

</html>