<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
    <input type="text" name="product_name" placeholder="Enter the product name"><br><br>
    <input type="number" name="quantity" placeholder="Enter the quantity amount"><br><br>
    <input type="number" name="price" placeholder="Enter the product price"><br><br>
    <input type="text" name="Images" placeholder="Enter the image"><br><br>
    
    <input type="submit" value="submit">
    </form>
</body>
</html>