<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/home.css">
</head>
<body>
    
    <section class="container">
        <nav class="section_nav">
            <div class="nav_left">
            
                <img src="../static/images/flipkart.svg" alt="">
                <p><span class="explore">Explore</span><span class="plus">plus</span></p>
            </div>
            <div class="nav_middle">
                <img src="../static/images/magnifier-removebg-preview.png" alt="">
                <input type="text" placeholder="Search for Products,Brands and">
            </div>
            <div class="nav_right">
                <div class="seller">
                    <a href="{{url_for('login')}}"><button>LOGIN</button></a>
                    <a href="{{url_for('logout')}}"><button>LOGOUT</button></a>
                    <img src="../static/images/seller.svg" alt="" >
                    <p>Become a seller</p>
                    </div>
            
                <div class="signin">
                    <img src="../static/images/signin.svg" alt="">
                    <a href="{{url_for('signin')}}"><p>Sign in</p></a>
                </div>
                <div class="cart">
                    <img src="../static/images/cart.svg" alt="">
                    <p>Cart</p>
                </div>
                <div class="dots">
                    <img src="../static/images/3dots.svg" alt="">
                </div>
            </div>
        </nav>
        <div class="second_part">
            <div>
                <img src="../static/images/percentage.jpg" alt="">
                <h3>Top Offers</h3>
            </div>
            <div class="appliances">
                <img src="../static/images/mobile.webp" alt="">
                <h3>Mobiles & Tablets</h3>
            </div>
            <div><img src="../static/images/electronics.webp" alt="">
                <h3>Electronics</h3>
            </div>
            <div class="appliances">
                <img src="../static/images/tvsand appliances.webp" alt="">
                <h3>TVs & Appliances</h3>
            </div>
            <div><img src="../static/images/fashion.webp" alt="">
                <h3>Fashion</h3>
            </div>
            <div><img src="../static/images/beauty.webp" alt="">
                <h3>Beauty</h3>
            </div>
            <div class="appliances">
                <img src="../static/images/home and kitchen.webp" alt="">
                <h3>Home & Kitchen</h3>
            </div>
            <div>
                <a href="{{url_for('play')}}"><img src="../static/images/furniture.webp" alt=""></a>
                <h3>Furniture</h3></div>
            <div><img src="../static/images/flights.webp" alt="">
                <h3>Flights</h3>
            </div>
            <div><img src="../static/images/grocery.webp" alt="">
                <h3>Grocery</h3>
            </div>
        </div>
        <div class="thrid_part">
            <img src="../static/images/bigimage.webp" alt="">
        </div>
        <div>
            <img src="../static/images/sbi.webp" alt="">
        </div>
        
        <div class="mobile">
            <div>
                <div class="best_mobile">
            <h2>Best Mobile</h2></div>
            <div class="second_mobile">
                <div class="motorola">
                    <img src="../static/images/motorola.webp" alt="">
                    <p>Motorola G84</p>
                    <h3>incl of offers</h3>
                </div>
                <div class="motorola">
                <img src="../static/images/infinix.webp" alt="">
                    <p>Infinix Note 30 5G</p>
                    <h3>incl of offers</h3>
            </div>
            <div class="motorola" >
            <img src="../static/images/moto.webp" alt="">
            <p>Moto Note 30 5G</p>
            <h3>incl of offers</h3>
        </div>
            <div class="motorola">
                <img src="../static/images/vivo1.webp" alt="">
                <p>Infinix Note 30 5G</p>
                    <h3>incl of offers</h3>
                </div>
                <div class="motorola">
                
                <img src="../static/images/redmi.webp" alt="">
                <p>Redmi Note 30 5G</p>
                <h3>incl of offers</h3>
            </div>
                <div class="motorola">
                <img src="../static/images/redmi1.webp" alt=""><p>Infinix Note 30 5G</p>
                <p>Redmi Note 25 5G</p>
                <h3>incl of offers</h3>
            </div>
            
            </div>
        </div>
        <div class="nova">
            <img src="../static/images/nova.webp" alt="">
        </div>
        </div>
        <div class="big_mobile">
            <img src="../static/images/samsung.webp" alt="">
            <img src="../static/images/washing.webp" alt=""> 
             <img src="../static/images/asus.webp" alt=""> 
        </div>
        <div class="cosmetics">
           <div class="top_deals"> <h2>Top Deals</h2></div>
            <div class="cosmetics1">
            <img src="../static/images/shoe.webp" alt="">
            <img src="../static/images/shoe1.webp" alt="">
            <img src="../static/images/shoe3.webp" alt="">
            <img src="../static/images/kurtas1.webp" alt="">
            <img src="../static/images/sunglass.webp" alt="">
            <img src="../static/images/kurtas2.webp" alt="">
            </div>
        </div>
        <div class="cosmetics_big">
            <img src="../static/images/oppo.webp" alt="">
            <img src="../static/images/samsung.webp" alt="">
            <img src="../static/images/indigo.webp" alt="">
        </div>
        <div class="home_decor">
            <div><h2>Home Decor & Furnsihings</h2></div>
            <div class="Furnisings">
                <img src="../static/images/torches.webp" alt="">
                <img src="../static/images/blankets.webp" alt="">
                <img src="../static/images/bedsheet.webp" alt="">
                <img src="../static/images/shoerocks1.webp" alt="">
            </div>
            <div class="home_decor1"> 
                 <img src="../static/images/matressbig.webp" alt=""> 
                 <img src="../static/images/kitchen.webp" alt="">
                 <img src="../static/images/protein.webp" alt="">
             </div> 

        </div>
        <div class="featured_brands">
           <div><h2>Featured Brands</h2></div>
            <div class="brands">
            <img src="../static/images/ponds.webp" alt="">
            <img src="../static/images/sugarfree.webp" alt="">
            <img src="../static/images/deepsleep.webp" alt="">
        </div>
           
        </div>
    
        <div class="under_score">
            <div class="under">  
            <div class="about">
                <H3>ABOUT</H3>
                 <P>Contact Us<br>
                    About Us<br>
                    Careers<br>
                    Flipkart Stories<br>
                    Press<br>
                    Flipkart Wholesale<br>
                    Cleartrip<br>
                    Corporate Information<br></p>
            </div> 
        <div class="help">
            <h3>HELP</h3>
           <p>Payments<br>
            Shipping<br>
            Cancellation & Returns<br>
            FAQ<br>
            Report Infringement</p>

        </div>
        <div class="CONSUMER">
            <h3>CONSUMER POLICY</h3>
            <p>Cancellation & Returns<br>
            Terms Of Use<br>
            Security<br>
            Privacy<br>
            Sitemap<br>
            Grievance Redressal<br>
            EPR Compliance</p>

        </div>
        <div class="social">
            <h3>SOCIAL</h3>
                <p>Facebook<br>
                Twitter<br>
                YouTube</p>
        </div>
        <div class="mail">
           <h3> Mail Us:</h3>
             <p>   Flipkart Internet Private Limited,<br>
                Buildings Alyssa, Begonia &<br>
                Clove Embassy Tech Village,<br>
                Outer Ring Road, Devarabeesanahalli Village,<br>
                Bengaluru, 560103,<br>
                Karnataka, India</p>
        </div>
        <div class="registered">
           <h3> Registered Office Address:</h3>
               <p> Flipkart Internet Private Limited,<br>
                Buildings Alyssa, Begonia &<br>
                Clove Embassy Tech Village,<br>
                Outer Ring Road, Devarabeesanahalli Village,<br>
                Bengaluru, 560103,<br>
                Karnataka, India<br>
                CIN : U51109KA2012PTC066107<br>
                Telephone: 044-4561470<br>
                Become a Seller</p>
        </div>
        
        </div> 
    <hr>
    <div class="under1">
        <div class="become"><p>Become a Seller<p></div>
            <div class="Advertise">Advertise</div>
            <div class="gift">Gift Cards</div>
            <div class="center">Help Center</div>
            <div class="2007">2007-2023 Flipkart.com</p></div>
        </div>
        </div>
        
    </section>
    
</body>
</html>





<!-- <img src="../static/images/inflatable sofas.webp" alt="">  -->